h1 {
    font-size: 70px;
   font-family: "Notable", sans-serif;
   color: #d4af37;
  }

  nav {
      background-color: #d4af37;
  }

  h4 {
    font-family: "Notable", sans-serif;
    font-size: 40px;
    color: white;
    }

h2 {
  font-family: 'PT Serif Caption', serif;
}

 p, li, h3, h5, h6 {
    font-family: "Didact Gothic", sans-serif;
    }

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
       
