h1 {
   font-family: "Notable", sans-serif;
   color: #d4af37;
  }

  nav {
      background-color: #d4af37;
  }

  h4 {
    font-family: "Notable", sans-serif;
    color: white;
    }

h2 {
  font-family: 'PT Serif Caption', serif;
}

 p, li, h3, h5, h6 {
    font-family: "Didact Gothic", sans-serif;
    }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
}

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });
